<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Nova usluga servisa BIS.ba</h4>
                    <p class="">Sa zadovoljstvom Vas obavještavamo da je servis BIS.ba uveo novu uslugu lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui impedit saepe quisquam dicta amet ducimus aspernatur molestias quas delectus nam. Nam, maxime, sapiente, tempora
                        ipsum debitis atque assumenda nobis cupiditate rem consectetur vitae quisquam quos perferendis nemo voluptates voluptatum aspernatur adipisci reprehenderit ducimus non velit placeat distinctio minus dolorem accusantium?</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Vaš probni period ističe za 30 dana</h4>
                    <p class="">Nadamo se da ste zadovoljni sa rezultatima koje ste ostvarili sa servisom BIS.ba. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui impedit saepe quisquam dicta amet ducimus aspernatur molestias quas delectus nam. Nam, maxime, sapiente,
                        tempora ipsum debitis atque assumenda nobis cupiditate rem consectetur vitae quisquam quos perferendis nemo voluptates voluptatum aspernatur adipisci reprehenderit ducimus non velit placeat distinctio minus dolorem accusantium?</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Poziv na saradnju</h4>
                    <p class="">Servis BIS.ba poziva Vas na saradnju. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui impedit saepe quisquam dicta amet ducimus aspernatur molestias quas delectus nam. Nam, maxime, sapiente, tempora ipsum debitis atque assumenda
                        nobis cupiditate rem consectetur vitae quisquam quos perferendis nemo voluptates voluptatum aspernatur adipisci reprehenderit ducimus non velit placeat distinctio minus dolorem accusantium?</p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <ul>
                <li><a href="">Arhiva obavještenja</a></li>
                <li><a href="">Arhiva obavještenja</a></li>
                <li><a href="">Arhiva obavještenja</a></li>
            </ul>
        </div>
    </div>
</div>