---
layout: home
---

{% include nav-logged-in.html %}

<div class="container">
<br><br>
<h1>Upravljanje ponudama</h1>
<br><br>
<!-------->
<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#vase-aktivne-ponude-kod-banaka" data-toggle="tab">Vaše aktivne ponude kod banaka </a></li>
        <li><a href="#azuriranjeprofila" data-toggle="tab">Ažuriranje profila</a></li>
        <li><a href="#yellow" data-toggle="tab">Yellow</a></li>
        <li><a href="#green" data-toggle="tab">Green</a></li>
        <li><a href="#blue" data-toggle="tab">Blue</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="vase-aktivne-ponude-kod-banaka">
            {% include home/vase-aktivne-ponude-kod-banaka.html %}
        </div>
        <div class="tab-pane" id="azuriranjeprofila">
            {% include home/vas-profil.html %}
        </div>
        <div class="tab-pane" id="yellow">
            <h1>Yellow</h1>
            <p>yellow yellow yellow yellow yellow</p>
        </div>
        <div class="tab-pane" id="green">
            <h1>Green</h1>
            <p>green green green green green</p>
        </div>
        <div class="tab-pane" id="blue">
            <h1>Blue</h1>
            <p>blue blue blue blue blue</p>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script> 

{% include footer.html %}


