<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Ponuda: Uredski sto, iverica, sa dodatkom najmanje 4 ladice</h4>
                    <p class=""><a href="cijela-poruka.html"data-toggle="modal" data-target="#myModal">Poštovani, ovom prilikom želimo Vam ponuditi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nihil, nesciunt, corporis beatae mollitia et culpa magnam dolores quasi repellat rem autem voluptates sed sint ut obcaecati placeat quas distinctio...</a></p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Ponuda: Uredski sto, iverica, sa dodatkom najmanje 4 ladice</h4>
                    <p class=""><a href="cijela-poruka.html">Poštovani, ovom prilikom želimo Vam ponuditi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nihil, nesciunt, corporis beatae mollitia et culpa magnam dolores quasi repellat rem autem voluptates sed sint ut obcaecati placeat quas distinctio...</a></p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Ponuda: Uredski sto, iverica, sa dodatkom najmanje 4 ladice</h4>
                    <p class=""><a href="cijela-poruka.html">Poštovani, ovom prilikom želimo Vam ponuditi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nihil, nesciunt, corporis beatae mollitia et culpa magnam dolores quasi repellat rem autem voluptates sed sint ut obcaecati placeat quas distinctio...</a></p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Ponuda: Uredski sto, iverica, sa dodatkom najmanje 4 ladice</h4>
                    <p class=""><a href="cijela-poruka.html">Poštovani, ovom prilikom želimo Vam ponuditi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nihil, nesciunt, corporis beatae mollitia et culpa magnam dolores quasi repellat rem autem voluptates sed sint ut obcaecati placeat quas distinctio...</a></p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Ponuda: Uredski sto, iverica, sa dodatkom najmanje 4 ladice</h4>
                    <p class=""><a href="cijela-poruka.html">Poštovani, ovom prilikom želimo Vam ponuditi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nihil, nesciunt, corporis beatae mollitia et culpa magnam dolores quasi repellat rem autem voluptates sed sint ut obcaecati placeat quas distinctio...</a></p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Ponuda: Uredski sto, iverica, sa dodatkom najmanje 4 ladice</h4>
                    <p class=""><a href="cijela-poruka.html">Poštovani, ovom prilikom želimo Vam ponuditi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nihil, nesciunt, corporis beatae mollitia et culpa magnam dolores quasi repellat rem autem voluptates sed sint ut obcaecati placeat quas distinctio...</a></p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Ponuda: Uredski sto, iverica, sa dodatkom najmanje 4 ladice</h4>
                    <p class=""><a href="cijela-poruka.html">Poštovani, ovom prilikom želimo Vam ponuditi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nihil, nesciunt, corporis beatae mollitia et culpa magnam dolores quasi repellat rem autem voluptates sed sint ut obcaecati placeat quas distinctio...</a></p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Ponuda: Uredski sto, iverica, sa dodatkom najmanje 4 ladice</h4>
                    <p class=""><a href="cijela-poruka.html">Poštovani, ovom prilikom želimo Vam ponuditi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, nihil, nesciunt, corporis beatae mollitia et culpa magnam dolores quasi repellat rem autem voluptates sed sint ut obcaecati placeat quas distinctio...</a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <ul>
                <li><a href="">Arhiva obavještenja</a></li>
                <li><a href="">Arhiva obavještenja</a></li>
                <li><a href="">Arhiva obavještenja</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ponuda: Uredski sto, iverica, sa dodatkom najmanje 4 ladice</h4>
      </div>
      <div class="modal-body">
        <p>Poštovani, ovom prilikom želimo Vam ponuditi lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, eveniet, nisi, sequi, voluptatem fugit amet id modi nesciunt iusto incidunt natus est illo unde recusandae vitae voluptate ab. Ut, adipisci, nulla sapiente totam molestias accusantium doloribus quia iste veniam libero dolorem sint cumque aliquam tenetur perspiciatis sit ea maxime assumenda.
        </p>
        <p>Nam, eveniet, nisi, sequi, voluptatem fugit amet id modi nesciunt iusto incidunt natus est illo unde recusandae vitae voluptate ab. Ut, adipisci, nulla sapiente totam molestias accusantium doloribus quia iste veniam libero dolorem sint cumque aliquam tenetur perspiciatis sit ea maxime assumenda.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, eveniet, nisi, sequi, voluptatem fugit amet id modi nesciunt iusto incidunt natus est illo unde recusandae vitae voluptate ab. Ut, adipisci, nulla sapiente totam molestias accusantium doloribus quia iste veniam libero dolorem sint cumque aliquam tenetur perspiciatis sit ea maxime assumenda.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
        <button type="button" class="btn btn-primary">Prihvati ponudu</button>
      </div>
    </div>
  </div>
</div>