                    <li><a href="detaljan-oglas-2.html">Kupovina rashladne vitrine marke Beko...</a></li>
                    <li><a href="detaljan-oglas-3.html">Kompenzacija 1000 kg mrkog uglja...</a></li>
                    <li><a href="detaljan-oglas-4.html">Prodaja uredskih stolica, 50 komada...</a></li>
                    <li><a href="detaljan-oglas-5.html">Kupovina A4 papira u pakovanju od 500 listova, 1000 komada...</a></li>
                    <li><a href="detaljan-oglas-6.html">Kancelarijski prostor pod zakup</a></li>