<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                        <a href="#" class="thumbnail">
                             <img src="http://placehold.it/350x200/5bc0de/fff/?text=LOGO+FIRME" class="img-responsive">
                        </a>
                <h2>Firma ABCDEFG d.o.o. Sarajevo</h2>
                <h3>O firmi</h3>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium laborum ipsam laboriosam distinctio earum asperiores voluptatem obcaecati nisi sint voluptas!</p>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium laborum ipsam laboriosam distinctio earum asperiores voluptatem obcaecati nisi sint voluptas!</p>
                <hr>
                <h3>Aktivni oglasi:</h3>
                <ul>
{% include detaljan-oglas/aktivni-oglasi.html %}
                </ul>
            </div>
            <div class="col-md-8">
                <h3>Tekst oglasa</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, ex fuga excepturi error laboriosam neque. Quae, odio, obcaecati, est ex ratione nulla eum sint voluptate magni aliquid beatae fugit modi expedita laboriosam adipisci amet commodi
                    accusantium distinctio perspiciatis vero porro sunt provident mollitia aliquam cum non corporis quia aperiam tenetur atque voluptates a repudiandae deleniti. Fugiat, incidunt, assumenda, minima dolore excepturi numquam esse suscipit
                    mollitia aperiam eligendi similique ex hic reprehenderit. Numquam, dolorem, amet, quis, accusamus sapiente harum odio id quod odit repellat nobis et molestiae fuga ipsam veniam exercitationem libero impedit quam voluptate cum rerum
                    ipsa sint cumque asperiores.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, commodi voluptate reiciendis ad dignissimos veritatis vel alias consequatur dicta exercitationem labore a minus fuga quas blanditiis ratione porro sunt in!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, illo, necessitatibus, hic, blanditiis odit maxime dolore sit est possimus rem nulla dignissimos cupiditate fugit obcaecati labore consectetur incidunt at ab molestiae placeat
                    corporis nihil laborum asperiores perspiciatis repudiandae quibusdam veritatis.</p>
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, pariatur, eum laboriosam quis distinctio perferendis modi cupiditate veritatis placeat totam ipsam voluptates quaerat ut alias ducimus voluptatum ullam nisi sint accusamus
                    quia fugiat optio sed quo? Sapiente, quaerat, eveniet, illum accusamus facilis magni commodi consectetur ut atque quo explicabo suscipit quia non maxime laboriosam harum officia consequatur veritatis fugit consequuntur placeat eaque
                    laudantium est corporis ea necessitatibus quod ex fuga!</p>
                <br>
                <a href="#" class="btn btn-info" role="button">Preuzmi dokumentaciju</a>
                <a href="#" class="btn btn-info" role="button">Pošalji ponudu</a>
                <a href="#" class="btn btn-success" role="button">Pošalji zahtjev za finansiranje</a>
                <br>
            </div>
        </div>
    </div>
</div>
