<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%"> 
  <p class="lead">Lista ažurirana 17. marta 2017.</p>
  <thead>
    <tr>
      <th>Naziv firme</th>
      <th>Predmet kupovine</th>
      <th>Količina</th>
      <th>Isporuka prije datuma</th>
      <th>Moguća kompenzacija</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Naziv firme</th>
      <th>Predmet kupovine</th>
      <th>Količina</th>
      <th>Isporuka prije datuma</th>
      <th>Moguća kompenzacija</th>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>Bingo d.o.o. Tuzla</td>
      <td>Kamion nosivosti 10 tona, ne stariji od 2 godine, sa manje od 100,000 predjenih kilometara, registrovan</td>
      <td>2</td>
      <td>2017/04/25</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Ledo d.o.o. Sarajevo</td>
      <td>Rashladna vitrina marke Beko, zapremine 200 litara, nova</td>
      <td>63</td>
      <td>2017/07/25</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Raiffeisen d.o.o. Sarajevo</td>
      <td>Uredski sto, iverica, sa dodatkom najmanje 4 ladice</td>
      <td>20</td>
      <td>2017/01/12</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>Fering d.o.o. Gračanica</td>
      <td>Ćelićna sajla promjera 2cm, dužine 40 metara</td>
      <td>22</td>
      <td>2017/03/29</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Mlin i pekara Ljubače dd Tuzla</td>
      <td>Gume za putničko vozilo, poželjno Sava, M+S, 195, 17 cola</td>
      <td>33</td>
      <td>2018/11/28</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Logosoft Sarajevo</td>
      <td>Uredske stolice, crne, statične, bez naslonjača</td>
      <td>61</td>
      <td>2018/12/02</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>Kopex Sarajlić d.o.o. Srebrenik</td>
      <td>Polovna cistrerna zapremine 36000 litara, ne starija od 5 godina, sa atestom</td>
      <td>1</td>
      <td>2018/08/06</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Rudnik mrkog uglja Banovići</td>
      <td>Novo putničko vozilo marke Škoda ili VW, sa klimom</td>
      <td>1</td>
      <td>2017/10/14</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>JP Elektroprivreda BiH Sarajevo</td>
      <td>Papir za štampu, format A4, pakovanje 500 listova</td>
      <td>1000</td>
      <td>2017/09/15</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>HIT Tours Tuzla</td>
      <td>Dvostrani letak u boji veličine A5</td>
      <td>5000</td>
      <td>2017/12/13</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>Grawe osiguranje d.o.o. Sarajevo</td>
      <td>Kolor Poster veličine A3 sa uslogom grafičke pripreme</td>
      <td>1000</td>
      <td>2017/12/19</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Pivara Tuzla dd</td>
      <td>Usluga prevođenja dokumentacije na njemačkom jeziku</td>
      <td>1 osoba</td>
      <td>2017/03/03</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>Off-set d.o.o. Tuzla</td>
      <td>Dostavno vozilo sa urednom servisnom knjižicom, do 5 godina starosti</td>
      <td>1</td>
      <td>2018/10/16</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>Plivać d.o.o. Tuzla</td>
      <td>Sto za sastanke, idealna veličina 200x400 cm, iverica</td>
      <td>1</td>
      <td>2017/12/18</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>UNCRO d.o.o. Tuzla</td>
      <td>Računar sa monitorom, RAM 4GB, QuadCore, nov</td>
      <td>2</td>
      <td>2017/12/18</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Genelec d.o.o. Tuzla</td>
      <td>Usluge čišćenja objekta</td>
      <td>1</td>
      <td>2018/11/27</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>ComTrade Shop d.o.o. Sarajevo</td>
      <td>Usluge zaštite objekta na Čengić Vili</td>
      <td>1</td>
      <td>2017/06/09</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>Leftor d.o.o. Tuzla</td>
      <td>Nabavka reklamnog materijala (hemijske, upaljači, promotivni kalendari)</td>
      <td>za 500 klijenata</td>
      <td>2018/04/10</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Apoteke Ibn Sina d.o.o. Tuzla</td>
      <td>Pult od iverice, dužine 5 metara, zastakljen</td>
      <td>2</td>
      <td>2017/10/13</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>Road d.o.o. Lipnica, Tuzla</td>
      <td>Vrata za autobus marke Volvo V70, 2001. godište</td>
      <td>1</td>
      <td>2017/09/26</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Bony d.o.o. Tuzla</td>
      <td>Sto za sastanke, idealna veličina 200x300 cm, iverica</td>
      <td>3</td>
      <td>2017/09/03</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>Unis-tok d.o.o. Kalesija</td>
      <td>Dostavno vozilo sa urednom servisnom knjižicom, do 5 godina starosti</td>
      <td>1</td>
      <td>2018/06/25</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Polo d.o.o. Kalesija</td>
      <td>Nabavka reklamnog materijala (hemijske, upaljači, promotivni kalendari)</td>
      <td>za 500 klijenata</td>
      <td>2017/12/12</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Kartonaža Tojšići d.o.o. Kalesija</td>
      <td>Sto za sastanke, idealna veličina 200x300 cm, iverica</td>
      <td>1</td>
      <td>2018/09/20</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>Fering d.o.o. Gračanica</td>
      <td>Sto za sastanke, idealna veličina 200x300 cm, iverica</td>
      <td>1</td>
      <td>2017/10/09</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>ETNA d.o.o. Gračanica</td>
      <td>Sto za sastanke, idealna veličina 200x300 cm, iverica</td>
      <td>1</td>
      <td>2018/12/22</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Multicom d.o.o. Tuzla</td>
      <td>Kolor Poster veličine A3 sa uslogom grafičke pripreme</td>
      <td>5000 komada</td>
      <td>2018/11/14</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>JU BIT Centar d.o.o. Tuzla</td>
      <td>Usluge čišćenja objekta</td>
      <td>1 osoba</td>
      <td>2018/06/07</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>JU RTV TK Tuzla</td>
      <td>Usluge čišćenja objekta</td>
      <td>1 osoba</td>
      <td>2017/03/11</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Atlant BH d.o.o. Sarajevo</td>
      <td>Usluge čišćenja objekta</td>
      <td>1 osoba</td>
      <td>2017/08/14</td>
      <td>Ne</td>
    </tr>
    <tr>
      <td>Algoritam inženjering d.o.o. Živinice</td>
      <td>Računar sa monitorom, RAM 4GB, QuadCore, nov</td>
      <td>1 komad</td>
      <td>2017/06/02</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Bimal dd Brćko</td>
      <td>Računar sa monitorom, RAM 4GB, QuadCore, nov</td>
      <td>1 komad</td>
      <td>2017/10/22</td>
      <td>Da</td>
    </tr>
    <tr>
      <td>Laser d.o.o. Brćko</td>
      <td>Računar sa monitorom, RAM 4GB, QuadCore, nov</td>
      <td>1 komad</td>
      <td>2017/05/07</td>
      <td>Ne</td>
    </tr>
  </tbody>
</table>