<footer class="mainfooter bg-default pt-5" role="contentinfo">
  <div class="footer-top p-y-0">

  </div>
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4 class="h6">Adresa</h4>
          <address>
                <ul class="list-unstyled">
                  <li>
                    Trg Slobode 16<br>
                    75000 Tuzla, BiH<br>
                  </li>
                  <li>
                    <tel>Mob: 061/100-200</tel>
                  </li>
                  <li>
                    email: <a href="mailto:kontakt@bis.ba">kontakt@bis.ba</a>
                  </li>
                </ul>
              </address>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4 class="h6">Popularne usluge</h4>
          <ul class="list-unstyled">
            <li><a href="#">Consectetur</a></li>
            <li><a href="#">Adipiscing</a></li>
            <li><a href="#">Elit</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4 class="h6">O nama</h4>
          <ul class="list-unstyled">
            <li><a href="#">Consectetur</a></li>
            <li><a href="#">Adipiscing</a></li>
            <li><a href="#">Elit</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4 class="h6">O nama</h4>
          <ul class="list-unstyled">
            <li><a href="#">Consectetur</a></li>
            <li><a href="#">Adipiscing</a></li>
            <li><a href="#">Elit</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a class="" href="mapa-sajta">Mapa Sajta</a></li> 
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  <hr>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">© BIS.BA, 2017</p>
        </div>
      </div>
    </div>
  </div>
</footer>