<footer class="mainfooter bg-default pt-5" role="contentinfo">
  <div class="footer-top p-t-40 m-t-40">

  </div>
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h3 class="h3">BIS.BA</h3>
          <br>
          <h4 class="h6">Adresa</h4>
          <address>
                <ul class="list-unstyled">
                  <li>
                    Trg Slobode 16<br>
                    75000 Tuzla, BiH<br>
                  </li>
                  <li>
                    <tel>Mob: 061/100-200</tel>
                  </li>
                  <li>
                    email: <a href="mailto:kontakt@bis.ba">kontakt@bis.ba</a>
                  </li>
                </ul>
              </address>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4 class="h6">Tražim</h4>
          <ul class="list-unstyled">
            <li><a href="trazim-kupujem">Kupujem</a></li>
            <li><a href="trazim-zakup">Tražim pod zakup</a></li>
            <li><a href="trazim-kompenzaciju">Tražim kompenzaciju</a></li>
          </ul>
          <br>
          <h4 class="h6">Nudim</h4>
          <ul class="list-unstyled">
            <li><a href="nudim-prodajem">Prodajem</a></li>
            <li><a href="nudim-zakup">Iznajmljujem</a></li>
            <li><a href="nudim-kompenzaciju">Nudim kompenzaciju</a></li>
          </ul>
          <br>
          <h4 class="h6">Baza podataka</h4>
          <ul class="list-unstyled">
            <li><a href="adresar-poslovnih-subjekata">Adresar poslovnih subjekata</a></li>
            <li><s><a href="#">Podaci o transakcijskim računima</a></s></li>
            <li><s><a href="#">Propisi</a></s></li>
            <li><s><a href="#">Procesi</a></s></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4 class="h6">Start Up</h4>
          <ul class="list-unstyled">
            <li><a href="kupovina-biznisa">Kupovina biznisa</a></li>
            <li><a href="prodaja-biznisa">Prodaja biznisa</a></li>
            <br>
            <li><a href="izradjujem-poslovni-plan">Izradjujem poslovni plan</a></li>
            <li><a href="trazim-poslovni-plan">Trazim poslovni plan</a></li>
            <br>
            <li><a href="stvaranje-tima-novog-poduhvata">Stvaranje tima novog poduhvata</li>
            <br>
            <li><s><a href="#">Prilike i generiranje ideja</a></s></li>
            <br>
            <li><s><a href="#">Tražim usluge freelancera</a></s></li>
            <li><s><a href="#">Nudim usluge freelancera</a></s></li>
            <br>
            <li><a href="nudim-fransizu">Nudim franšizu</a></li>
            <li><a href="kupujem-fransizu">Kupujem franšizu</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4 class="h6">Marketing</h4>
          <ul class="list-unstyled">
            <li><mark><a href="#">Vrste oglasa na BIS.BA</a></mark></li>
            <li><mark><a href="#">Saradnja sa medijima</mark></li>
          </ul>
          <br>
          <h4 class="h6">O nama</h4>
          <ul class="list-unstyled">
            <li><mark><a href="#">O sistemu BIS.BA</a></mark></li>
            <li><mark><a href="#">Uključite se</a></mark></li>
            <br><br>
            <li><mark><a href="#">Finansiranje</mark></li>
            <li><mark><a href="#">Novosti</a></mark></li>
            <li><mark><a href="#">Blog</a></mark></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  <hr>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">© BIS.BA, 2017</p>
        </div>
      </div>
    </div>
  </div>
</footer>