    <div class="form-group">
        <label for="predmetKupovineIsporukaDatum" class="col-sm-2 control-label">Djelatnosti</label>
            <div class="col-sm-5">
                <select id="djelatnost" multiple class="form-control">
                    <option>Poljoprivreda, lov i šumarstvo</option>
                    <option>Ribarstvo</option>
                    <option>Vađenje ruda i kamena</option>
                    <option>Prerađivačka industrija</option>
                    <option>Proizvodnja i snabdjevanje el. energijom, gasom i vodom</option>
                    <option>Građevinarstvo</option>
                    <option>Trgovina na veliko</option>
                    <option>Trgovina na malo</option>
                    <option>Popravak motornih vozila</option>
                    <option>Ugostiteljstvo</option>
                    <option>Saobraćaj, skladištenje i komunikacije</option>
                    <option>Finansijsko posredovanje i osiguranje</option>
                    <option>Poslovanje nekretninama</option>
                    <option>Državna uprava i odbrana</option>
                    <option>Obrazovanje</option>
                    <option>Zdravstveni i socijalni rad</option>
                    <option>Ostale javne komunalne djelatnosti</option>
                </select>
            </div>
    </div>