<nav class="navbar bg-info">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BIS.BA</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tražim <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="trazim-kupujem">Kupujem</a></li>
            <li><a href="trazim-zakup">Tražim pod zakup</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="trazim-kompenzaciju">Tražim kompenzaciju</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nudim <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="nudim-prodajem">Prodajem</a></li>
            <li><a href="nudim-zakup">Iznajmljujem</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="nudim-kompenzaciju">Nudim kompenzaciju</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Baza podataka <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Podaci o firmama</li>
            <li><a href="adresar-poslovnih-subjekata.html">Adresar poslovnih subjekata</a></li>
            <li><a href="#">Podaci o transakcijskim računima</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Propisi i procesi</li>
            <li><a href="#">Propisi</a></li>
            <li><a href="#">Procesi</a></li>
          </ul>
        </li>
        <li><a href="#">Finansiranje</a></li>
        <li><a href="#">Novosti</a></li>
        <li><a href="#">Blog</a></li>
        <li>
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn navbar-btn btn-default dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Start Up <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="kupovina-biznisa">Kupovina biznisa</a></li>
              <li><a href="prodaja-biznisa">Prodaja biznisa</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="izradjujem-poslovni-plan">Izrađujem poslovni plan</a></li>
              <li><a href="trazim-poslovni-plan">Tražim poslovni plan</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="stvaranje-tima-novog-poduhvata">Stvaranje tima novog poduhvata</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Prilike i generiranje ideja</li>
              <li role="separator" class="divider"></li>
                        <li><a href="#">Tražim usluge freelancera</li>
                        <li><a href="#">Nudim usluge freelancera</li>
              <li role="separator" class="divider"></li>
                        <li><a href="nudim-fransizu">Nudim franšizu</a></li>
              <li><a href="kupujem-fransizu">Kupujem franšizu</a></li>
            </ul>
          </div>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-text"><span class="label label-primary ">755</span> Aktivnih ponuda</span>
        </li>
        <li>
          <div class="btn-group">
            <button class="btn navbar-btn btn-info " href="#signup" data-toggle="modal" data-target=".bs-modal-sm">Prijava / Registracija</button>
          </div>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>


<!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#prijava" data-toggle="tab">Prijava</a></li>
              <li class=""><a href="#registracija" data-toggle="tab">Registracija</a></li>
              <li class=""><a href="#zasto" data-toggle="tab">Zašto?</a></li>
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in" id="zasto">
        <p>Potrebne su nam ove informacije kako biste mogli pristupiti sadržaju koji je namjenjen samo našim korisnicima. Ukoliko želite o ovome saznati više, molimo<br> kontaktirajte nas na <a mailto:href="kontakt@bis.ba"></a>kontakt@bis.ba</a> za bilo kakva pitanja.</p>
        </div>
        <div class="tab-pane fade active in" id="prijava">
          <form class="">
            <fieldset>
              <!-- Sign In Form -->
              <!-- Text input-->
              <div class="from-group">
                <label class="control-label" for="userid">Korisničko ime:</label>
                <input required="" id="userid" name="userid" type="text" class="form-control" placeholder="Korisničko ime" class="input-medium" required="">
              </div>
              <br>
              <!-- Password input-->
              <div class="form-group">
                <label class="control-label" for="passwordinput">Lozinka:</label>
                <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
              </div>

              <div class="checkbox">
                <label for="rememberme-0">
                  <input type="checkbox" name="rememberme" id="rememberme-0" value="Zapamti me">Zapamti me
                </label>
              </div>

            <!-- Button -->
              <button id="signin" name="signin" class="btn btn-info">Prijava</button>
            </fieldset>
          </form>
        </div>
        
        <div class="tab-pane fade" id="registracija">
            <form class="">
            <fieldset>
            <!-- Sign Up Form -->
            <!-- Text input-->
            <div class="form-group">
              <label class="control-label" for="Email">Email:</label>
              <input id="Email" name="Email" class="form-control" type="text" placeholder="vašaemailadresa@email.com" class="input-large" required="">
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="control-label" for="userid">Korisničko ime:</label>
              <input id="userid" name="userid" class="form-control" type="text" placeholder="Korisničko ime" class="input-large" required="">
            </div>
            
            <!-- Password input-->
            <div class="form-group">
              <label class="control-label" for="password">Lozinka:</label>
                <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                <em>najmanje 8 znakova</em>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="control-label" for="reenterpassword">Ponovo unesite lozinku:</label>
                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
            </div>
            
            
            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <button id="confirmsignup" name="confirmsignup" class="btn btn-info">Prijava</button>
              </div>
            </div>
            </fieldset>
            </form>
      </div>
    </div>
      </div>
      <div class="modal-footer">
      <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
        </center>
      </div>
    </div>
  </div>
</div>
