<nav class="navbar bg-info">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BIS.BA</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tražim <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="trazim-kupujem">Kupujem</a></li>
            <li><a href="trazim-zakup">Tražim pod zakup</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="trazim-kompenzaciju">Tražim kompenzaciju</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nudim <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="nudim-prodajem">Prodajem</a></li>
            <li><a href="nudim-zakup">Iznajmljujem</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="nudim-kompenzaciju">Nudim kompenzaciju</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Baza podataka <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Podaci o firmama</li>
            <li><a href="adresar-poslovnih-subjekata.html">Adresar poslovnih subjekata</a></li>
            <li><a href="#">Podaci o transakcijskim računima</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Propisi i procesi</li>
            <li><a href="#">Propisi</a></li>
            <li><a href="#">Procesi</a></li>
          </ul>
        </li>
        <li><a href="#">Finansiranje</a></li>
        <li><a href="#">Novosti</a></li>
        <li><a href="#">Blog</a></li>
        <li>
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn navbar-btn btn-default dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Start Up <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Kupoprodaja biznisa</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Izrađujem poslovni plan</a></li>
              <li><a href="#">Tražim poslovni plan</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Stvaranje tima novog poduhvata</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Prilike i generiranje ideja</li>
                        <li><a href="#">Separated link</a></li>
              <li><a href="#">Tražim usluge freelancera</li>
                        <li><a href="#">Nudim usluge freelancera</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Nudim franšizu</a></li>
              <li><a href="#">Kupujem franšizu</a></li>
            </ul>
          </div>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="logged-in-obavjestenja.html"><span class="badge">3</span><span class="fa fa-bell-o"></span> Obavještenja</a></li>
        <li><a href="logged-in-poruke.html"><span class="badge">8</span><span class="fa fa-envelope-o"></span> Nove poruke</a></li>
        <div id="nav-options" class="btn-group pull-right hidden-xs">
          <button type="button" class="btn btn-default dropdown-toggle thumbnail" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/css/img/jon.jpg">
          </button>
          <ul class="dropdown-menu">
            <li><a href="vas-profil.html">Vaš profil</a></li>
            <li><a href="ponude.html">Ponude</a></li>
            <!--
            <li><a href="settings.html">Postavke</a></li>
            -->
            <li role="separator" class="divider"></li>
            <li><a href="index.html">Logout</a></li>
          </ul>
        </div>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
