<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="predmetKupovine" class="col-sm-2 control-label">Predmet zakupa</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="predmetKupovine" placeholder="Unesite tekst koji će opisati predmet kupovine" />
        </div>
    </div>
    <div class="form-group">
        <label for="predmetKupovineDetaljanOpis" class="col-sm-2 control-label">Predmet zakupa, detaljan opis</label>
        <div class="col-sm-10">
            <textarea type="text" class="form-control" id="predmetKupovineDetaljanOpis" placeholder="Unesite detaljan opis (ukoliko je to potrebno)" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group">
        <span class="col-sm-2"><p class="control-label"><strong>Prilozi</strong></p></span>
        <div class="col-sm-7">
            <div class="input-group">
                <label class="input-group-btn">
            <span class="btn btn-primary">
            Prilog sa računara... <input type="file" style="display: none;" multiple>
            </span>
            </label>
                <input type="text" class="form-control" readonly placeholder="Odaberite jedan ili više fajlova za prilog (ukoliko je to potrebno)">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="predmetKupovineKolicina" class="col-sm-2 control-label">Potrebna količina</label>
        <div class="col-sm-2">
        <input type="number" class="form-control" id="predmetKupovineKolicina" placeholder="broj" />
        </div>
    </div>
    <div class="form-group">
        <label for="predmetKupovineJedinicaMjere" class="col-sm-2 control-label">Jedinica mjere</label>
        <div class="col-sm-3">
        <input type="text" class="form-control" id="predmetKupovineJedinicaMjere" placeholder="npr. litara, kom, kg" />
        </div>
    </div>
    <div class="form-group">
        <label for="predmetKupovineIsporukaDatum" class="col-sm-2 control-label">Isporuka do datuma</label>
            <div class="col-sm-3">
                <input id="date2" type="date" name="date2" value="2017-03-18" class="form-control">
            </div>
    </div>
{% include form-partial-poslovna-djelatnost.html %}
{% include form-partial-dostaviti-ponudu.html %}
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-default">Objavi</button>
        </div>
    </div>
</form>
