<div class="jumbotron jumbotron-background">
    <div class="container">
        <h1>
            BIS.BA<br> 
            Poslovanje može biti lakše!
        </h1>
        <p class="h3">
            Dobrodošli na jedinstvenu platformu na tržištu BiH,<br> 
            namjenjenu povećanju efikasnosti naše privrede!
        </p>
        <p class="h3">
            Spajamo kupce i dobavljače, podržavamo nova preduzeća,<br> 
            olakšavamo kompenzacije, poboljšavamo poslovnu klimu...
        </p>
        <p><a class="btn btn-info btn-lg" href="ukljucite-se" role="button">Uključite se</a></p>
    </div>
</div>