
<br><br>

<h3>Primljene ponude za prodaju</h3>
<br>

<table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%" id="tabela-ponude-1">
    <thead>
        <tr>
            <th>Vrsta ponude (prodaja, kupovina, kompenzacija)</th>
            <th>Opis ponude (text blob)</th>
            <th>Ponuđač (naziv firme ponuđača sa linkom na profil firme)</th>
            <th>Status (nova ponuda - inbox, arhiva - završene ponude, poslat zahtjev za finansiranje, zahtjev za finansiranje odobren, potpisan ugovor - sklopljen posao, posao završen)</th>
            <th>datum primanja ponude</th>
            <th>datum isteka ponude</th>            
        </tr>
    </thead>
</table>