<div class="container">
    <h1>Ažuriraj profil</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Dodaj drugu sliku...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          Ovo je <strong>.alert</strong>. Može se koristiti za važne najave pretplatnicima.
        </div>
        <h3>Vaše informacije</h3>
        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Vaše ime:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="ime">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Vaše prezime:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="prezime">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Naziv pravnog lica:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="email@email.com">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Djelatnost:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="djelatnost" class="form-control">
                  <option value="automobili">automobili</option>
                  <option value="prevoz i saobraćaj">Prevoz i saobraćaj</option>
                  <option value="trgovina">Trgovina</option>
                  <option value="namještaj">Namještaj</option>
                  <option value="finansijske usluge">Finansijske usluge</option>
                  <option value="šumarstvo, lov i ribolov, vodoprivreda" selected="selected">Šumarstvo, lov i ribolov, vodoprivreda</option>
                  <option value="proizvodnja električne energije">Proizvodnja električne energije</option>
                  <option value="rudarstvo">Rudarstvo</option>
                  <option value="IT sektor - hardware">IT sektor - hardware</option>
                  <option value="IT sektor - software">IT sektor - software</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Lozinka:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Potvrdi lozinku:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="button" class="btn btn-primary" value="Snimi Izmjene">
              <span></span>
              <input type="reset" class="btn btn-default" value="Otkaži">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>