<div class="container">
  <h3 class="h4"></h3>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <span class="h2">Vaše aktivne ponude kod banaka</span>

      <div class="pull-right"> <a id="expandAll" href="#" class="btn btn-default" role="button">Otvori sve</a>
        <a id="collapseAll" href="#" class="btn btn-default" role="button">Zatvori sve</a>
      </div>
    </div>
<br>
<br>
<br>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="">
                Zahtjev za finansiranje kupovine <strong>uredskog namještaja (stolovi, stolice, fotelje, kabineti)</strong>
              </a>
            </h4>

          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
              put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
              farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="">
                Zahtjev za finansiranje kupovine <strong>novog vozila marke VW ili Škoda</strong>
              </a>
            </h4>

          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
              put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
              farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="">
                Zahtjev za finansiranje kupovine <strong>repromaterijala za proizvodnju namještaja</strong>
              </a>
            </h4>

          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <h4>Firma ponuđač (dobavljač): Pilana d.o.o. Gračanica</h4>
              <h4>Firma kupac: Moja Firma Na Ovom Profilu d.o.o. Tuzla</h4>
              <h4>Predmet ponude: <a href="detaljan-oglas" target="_blank">Kupovina repromaterijala za proizvodnju namještaja,</a> po stavkama:</h4>
                <ul>
                  <li class="">trupci bukovina, 5m, promjer 25cm,</li>
                  <li class="">grede hrastovina, 2m, širinaXvisina = 20cm</li>
                </ul>
              <h4>Iznos predračuna za koji se diže kredit: 30,000 KM</h4>
              <h4>Status:</h4>
              <p>Zahtjev za kredit proslijeđen bankama: 10. maja 2017. godine</p>
              <ul>Primljen odgovor od banaka:
                <li>UniCredit <strong><a href="poruka-123">pogledaj ponudu za finansiranje od banke</a></strong></li>
                <li>UPI Banka <strong><a href="poruka-123">pogledaj ponudu za finansiranje od banke</a></strong></li>
                <li>Raiffeisen <strong><a href="poruka-123">pogledaj ponudu za finansiranje od banke</a></strong></li>
                <li>Moja banka <strong><a href="poruka-123">pogledaj ponudu za finansiranje od banke</a></strong></li>
                <li>MKF Partner <strong><a href="poruka-123">pogledaj ponudu za finansiranje od banke</a></strong></li>
                <li>MKF EKI <strong><a href="poruka-123">pogledaj ponudu za finansiranje od banke</a></strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<hr>

      <table class="table table-striped">
        <thead>
          <tr><th>Visits</th><th>ROI</th><th>Source</th><th>Description and Notes</th></tr>
        </thead>
        <tbody>
          <tr><td>45</td><td>2.45%</td><td>Direct</td><td>Sam sapien massa, aliquam in cursus ut, ullamcorper in tortor. 
          Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</td></tr>
          <tr><td>289</td><td>56.2%</td><td>Referral</td><td>After RWD massa, aliquam in cursus ut, ullamcorper in tortor. 
          Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</td></tr>
          <tr><td>98</td><td>25%</td><td>Type</td><td>Wil sapien massa, aliquam in cursus ut, ullamcorper in tortor. 
          Liquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</td></tr>
          <tr><td>109</td><td>8%</td><td>..</td><td>Forfoot aliquam in cursus ut, ullamcorper in tortor. 
          Okma mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</td></tr>
          <tr><td>34</td><td>14%</td><td>..</td><td>Mikel sapien massa, aliquam in cursus ut, ullamcorper in tortor. 
          Maliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</td></tr>
        </tbody>
      </table>